
.nav-wrapper {
    background-color: #000;
}

nav ul li:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}

nav ul a{
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 55%;
}

