<h3>Registre-se</h3>
<div class="row">
  <form class="col s12" [formGroup]="form">
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate">
        <label for="name">Nome</label>
      </div>
      <div class="input-field col s6">
        <input id="lastName" type="text" class="validate">
        <label for="lastName">Sobrenome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5">
        <input id="email" type="email" class="validate">
        <label for="email">E-mail</label>
      </div>
      <div class="input-field col s4">
        <input id="phone" type="text" class="validate">
        <label for="phone">Telefone / Celular</label>
      </div>
      <div class="input-field col s3">
        <input id="birthday" type="text" class="datepicker">
        <label for="birthday">Data de Nascimento</label>
      </div>
    </div>
  </form>
</div>